@charset "UTF-8";

html { font-size: 62.5%; }
body {
/*	font-family: 'ＭＳ Ｐゴシック',Osaka,sans-serif;*/
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	font-size: 14px; font-size: 1.4rem;
	word-break: break-all;
	letter-spacing: 0;
}

table {
	font-size: inherit;
	font: 100%;
}
/*擬似クラス設定補助 IE用*/
body { behavior:url("csshover.htc");}